*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
   
}
body{
     overflow-x: hidden;
}

.a1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
.a2{
    width: 60px;
    height: 5px;
    background-color: black;
    position: relative;
    top: -2px;
    left: 60px;
    margin-top: -2px;
}
.a4{
    position: relative;
    top: -8px;
    left: -40px;
    font-size: 12px;
    font-weight: 900;
}
.b1{
    height: 10%;
    width: 15%;
    margin-left: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
     position: absolute;
     top: 70px;
}
.b1 img{
    width: 20px;
    height: 20px;
}

.c1{
    width: 60%;
    height: 4%;
     position: absolute;
     top: 80px;
     left: 300px;
     display: flex;
     justify-content: space-evenly;
     
}
.c1 select{
    font-size: 10px;
    margin-top: -2px;
    font-weight: 800;
}
.d1{
    width: 150px;
    height: 100px;
    position: relative;
    left: 1150px;
    top: 25px;
    margin-top: -20px;
    display: flex;
    justify-content: space-evenly;
}

.d1 img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
    top: 20px;
    }

    .e1{
        width: 90%;
        height: 450px;
        background-color: rgb(212, 212, 212);
        position: relative;
        left: 5%;
        z-index: -3;
    }
    .e1 img{
        width: 400px;
        height: 400px;
        position: relative;
        left: 30%;
    } 
    .e3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        word-spacing: 0.1px;
        font-size: 100px;
        position: relative;
        top: -280px;
        left: 330px;
        z-index: 1;
    }
    .e2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        word-spacing: 0.1px;
        font-size: 100px;
        position: relative;
        top: -420px;
        left: 600px;
        z-index: -1;
    }
    .e4{
        position: relative;
        left: 650px;
        top: -220px;
        font-size: 12px;
        font-weight: 900;
    }
    .e5{
        position: relative;
        left: 320px;
        font-size: 12px;
        top: -150px;
    }
    .f1{
      
        width: 90%;
        height: 100px;
        position: relative;
        left: 5%;  
        z-index: -2;
    }
    .f2{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 20px;
        right: 20px;
        font-size: 50px;
    }
    .f3{
        font-size: 10px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 15px;
        left: -25px;
    }
    .f4{
        font-size: 85px;
        color: white;
        position: relative;
        top: -85px;
        left: 300px;
        letter-spacing: 20px;
        z-index: -1;
        color: rgb(129, 129, 129);
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0.5;
        font-weight: 900;
    }
    .g1{
        width: 90%;
        height: 150px;
        position: relative;
        left: 5%; 
        display: flex;
        justify-content: space-evenly;
        gap: -10px;
       
    }
    .g1 img{
       width: 150px;
        height: 150px; 
    }
    .g1 h1{
        font-size: 20px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .h1{
      
        width: 90%;
        height: 100px;
        position: relative;
        left: 5%;  
        z-index: -2;
    }
    .h2{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 20px;
        right: 20px;
        font-size: 50px;
    }
    .h3{
        font-size: 10px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 15px;
        left: -25px;
    }
    .h4{
        font-size: 85px;
        color: white;
        position: relative;
        top: -85px;
        left: 300px;
        letter-spacing: 20px;
        z-index: -1;
        color: rgb(129, 129, 129);
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0.5;
        font-weight: 900;
    }
    .i2{
        width: 300px;
        height: 300px;
        background-color: rgb(138, 138, 138);
        position: relative;
        left: 5%;
        background-size: 50px;
    }
    .i11{
       display: flex;
       justify-content: space-evenly;
       position: relative;
       left: -100px;
    }
    .i3{
        width: 100px;
        height: 100px;
        background-color: rgb(138, 138, 138);
        position: relative;
        left: 5%;
    }
    .i4{
        width: 100px;
        height: 100px;
        background-color: rgb(138, 138, 138);
        position: relative;
        left: 5%;
    }.i5{
        width: 100px;
        height: 100px;
       background-color: rgb(138, 138, 138);
        position: relative;
        left: 5%;
        position: relative;
        left: 1000px;
        top: -100px;
    }.i6{
        width: 100px;
        height: 100px;
        background-color: rgb(138, 138, 138);
        position: relative;
        left: 5%;
        top: -200px;
        left: 690px;
    }
    .i1 img{
       width: 100px;
        height: 100px;  
    }
    .i2 img{
        width: 250px;
        height: 250px;
        position: relative;
        left: 25px;
        top: 25px;
    }
    .ab1{
        font-weight: 700;
        border: 1px solid;
        font-size: 25px;
        border-radius: 20px;
        padding: 2px;
        position: relative;
        left: 40%;
        top: -100px;
        display: flex;
        justify-content: center;
    }
    .i2 h1{
        position: relative;
        top: 60px;
        display: flex;
        justify-content: center;
    }
    .i3 h1 , .i4 h1 , .i5 h1 , .i6 h1{
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
